
@{
    ViewBag.Title = "select";
}

<head>
    <title>选择页面</title>
    <style>
        body {
            padding: 50px;
        }
        .main {
            display: block;
            height: auto;
            max-width: 60%;
            margin: 0 auto;
        }
        .center {
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
    <div class="page-header">
        <h2 class="center">学生查询主页面</h2>
    </div>
    <div class="panel panel-default main">
        <div class="panel-body center">
            <div class="col-sm-10">
                <form action="/Show/showstudent" method="post">
                @Html.DropDownList("academy",ViewData["selectitem"]
                    as IEnumerable<SelectListItem>
                    ,new { @Style = "font: 16pt Verdana;font-weight:600;",@Class="center" })
                    <button class="btn btn-primary">查找</button>
                </form>
            </div>
        </div>
    </div>

