
@{
    ViewBag.Title = "showstudent";
}

@using TrueStudentInformation.ViewModel
@using TrueStudentInformation.Models
@model WholeInfo

<head>
    <title>学生信息选择</title>
    <style>
        body {
            padding: 50px;
        }

        .main {
            display: block;
            height: auto;
            max-width: 60%;
            margin: 0 auto;
        }

        .center {
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="page-header">
        <h2 class="center">选择页面</h2>
    </div>
        <div class="container panel panel-default main">
            <div class="tree well">
                        @foreach(StudentViewModel svm in Model.Items)
                        {
                        <ul class="menu icon-minus-sign">
                            <li>
                                <p class="btn btn-default">+@svm.classroom.Name</p>
                                <ul>
                                    @foreach (TrueStudent stu in svm.students)
                                    {
                                    <li style="margin: 10px 0">
                                        <p><a herf="" class="btn btn-success btn-sm">@stu.Name</a>
                                            <p style="margin: 0 0 0 10px">
                                                @Html.ActionLink("showstudentdetail", "showstudentdetail", new { id = stu.Num })
                                            </p>
                                        </p> 
                                    </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                        }
            </div>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
        <link href="~/Content/style.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</script>
<script>
    $(function () {
        $(".menu ul").css("display", "none");
    $(".menu p").on("click", function () {
        $(this).next().toggle();
    });
});
</script>

